venv/
venv_linux/
birdsql/
spider/
tokenizer_analysis/*.xlsx
db/queries/*.sql
tokenizer_analysis/plots/*.png
schema-tables-json/codes_format/*
schema-tables-json/codes_format/snails_schemas_*
.local/*
!.local/
**/.local/*
!**/.local/
!.local/README.txt
snails_mssql/snails_volume
*.bak
*.ldf
*.sqlite
*.tar.gz
temp_data/
~*
models/
__pycache__/
*.pickle
schemapile_public.json
schemapile_identifiers.csv
schemapile_schemas.csv
schemapile_scores.csv
**/.vscode/
logs/*.txt
data/nl-to-sql_performance_annotations/pending_evaluation/*