# For 01-SNAILS-NL-to-SQL-Inference-and-Scoring.ipynb #
pandas
openpyxl
pyodbc
openai==0.27.3
tiktoken
google-generativeai
google-cloud-aiplatform
transformers
together

# + For 02-SNAILS-NL-to-SQL-results-analysis.ipynb #
seaborn
scipy
jinja2
scikit-learn
statsmodels

# + For 03-SNAILS-identifier-analysis.ipynb #
# We recommend setting the install for your OS https://pytorch.org/get-started/locally/
#torch
#torchvision
#torchaudio

# + For 04-SNAILS-tokenizer-analysis.ipynb #

# + For 05-SNAILS-token-naturalness-analysis.ipynb #
Levenshtein

# + For 06-SNAILS-naturalness-comparisons.ipynb #

# + For 07-schemapile-naturalness.ipynb #

# + For 08b #
igraph